body{
    background-color: rgb(24, 24, 82);
}
#name{
    font-size: inherit;
    background-color: transparent;
   color: white;
    display: block;
    width: 200px;
    height: 25px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#mail{
    font-size: inherit;
    background-color: transparent;
   color: white;
    display: block;
    width: 490px;
    height: 25px;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#phone{
    font-size: inherit;
    background-color: transparent;
   color: rgb(169, 80, 139);
    display: block;
    width: 490px;
    height: 25px;
    margin-left: 72px;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
#topic{
    font-size: inherit;
    background-color: transparent;
   color: rgb(169, 80, 139);
    display: block;
    width: 490px;
    height: 25px;
    margin-left: 116px;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;


}
#message{
    font-size: inherit;
    background-color: transparent;
   color: rgb(169, 80, 139);
    display: block;
    width: 490px;
    height: 25px;
    margin-left: 90px;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}